
.nav { 
    background-color:#f2f2f7;
    min-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    
    }

.item a {
    color: black;
    text-decoration: none;
    
}

.item a.active{
    color: #615dfa;
}

.skills{
    padding-top: 5px;
}
.block {
  padding-bottom:20px;
  border-radius: 2px;
  border-style: groove;
  background-color: rgb(206, 187, 187);
  position: relative;
  text-align: center;
}