
 .ava img {
  width: 30px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ava {
  border-radius: 2px;
  border-style: groove;
  background-color: rgb(206, 187, 187);
  text-align: center;
}