.block {
    padding: 20px;
    
}

.message {
    margin-top: 15px;
}
.button {
    box-shadow: rgb(39 104 115) 0px 10px 14px -7px;
    background-color: rgb(150, 155, 156);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
 
}

